:root {
    --gradient: linear-gradient(
        180deg,
        #00050A,
        #000A14,
        #00101E,
        #000C2E,
        #001337,
        #001A41,
        #00214A,
        #002854,
        #002F5E,
        #003668,
        #003D72,
        #00447C,
        #004B86,
        #005290,
        #00599A,
        #0060A4,
        #0067AE,
        #006DB2,
        #0077C4,
        #0081D6,
        #008BE8,
        #0094FA,
        #009CFF,
        #10A3FF,
        #18AAFF,
        #00CCFF
    );
}

body {                
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: var(--gradient); /*linear-gradient(#D2F7FF, #00CCFF)*/
    color: #fff;
    background-size: 1000% 1000%;
    background-position: bottom;
    animation: bg-animation 10s infinite alternate;
    overflow: hidden;
    
}
@keyframes bg-animation {
    0% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}

    .content {                                  /* Temp, weather, mountains */                           
        background-color: rgba(3, 3, 3, 0.3);
        
        border-radius: 20px;
        height: 600px;
        margin-inline: auto;
        margin-top: 150px;
    }

    #weather {
        height: 40%;
    }
    #night_mode {
        width: 80px;
        background-color: #fff;
        margin-inline: auto;
    }
        .temperature {
            font-size: 60px;
            padding-top: 30px;
            outline: 1px #fff solid;
            text-align: center;
            height: 50%;        
            margin-block: 0px !important;
        }
        .day_description {
            height: 50%;
            font-size: 30px;
            outline: 1px #fff solid;
            text-align: center;
        }

    .drawing {
        outline: 5px solid #500;
        padding-left: 35%;
        height: 60%;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        margin-bottom: 0px;            
    }

        .SVGS {
            position: absolute;
            outline: 2px solid #000;
            margin: 0px;
            height: 60%;
            width: 100%;      
            filter: blur(3px);
            bottom: 0%;
            right: 0;

        }
        .weather-icon {
            margin-left: 120px;
            outline: 3px solid #00CCFF;
           /*  margin-top: 250px;    Detras de montañas        .mountain1 {} */
        }      
        svg {
            padding-top: 65px;
            padding-left: 35%;
        }
        .window {
            width: 4px;
            height: 4px;
            fill: rgb(101, 136, 131);
            transition: fill 2s ease-in-out;
        }
        .building {
            transition: fill 5s ease;
        }

        .mountain1 {
            transition: fill 5s ease;
            
        }

    .content2 {
        justify-content: space-between;
        margin-inline: auto;
        height: auto;
        
    }
        .page_data {
            background-color: rgba(3, 3, 3, 0.3);
            border-radius: 20px;
            height: 80px;
            margin-block: 10px;

        }
        .social {
            border-radius: 20px;
            background-color: rgba(3, 3, 3, 0.3);
            height: 80px;
            margin-block: 10px;
        }
