:root {  /* 0 */
    --gradient: linear-gradient(
        180deg,
        #00050A,#000A14,#00101E,#000C2E,#001337,
        #001A41,#00214A,#002854,#002F5E,#003668,
        #003D72,#00447C,#004B86,#005290,#00599A,
        #0060A4,#0067AE,#006DB2,#0077C4,#0081D6,
        #008BE8,#0094FA,#009CFF,#10A3FF,#18AAFF,
        #00CCFF
    );
}
/*****************/
body {  /* 1 */      
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: var(--gradient); 
    color: #fff;
    background-size: 100% 800%;
    background-position: 50% 100%; /* horizontal, vertical*/
}
    .content { /* 2 */                            /* Temp, weather, mountains */                           
        height: 600px;
        background-color: rgba(3, 3, 3, 0.3);
        border-radius: 20px;
        margin-inline: auto;
        margin-top: 150px;
        position: relative;
    }
        #weather { /* 3 */
            height: 40%;
            width: 100%;
        }
            .temperature {  /* 4 */
                font-size: 60px;
                padding-top: 30px;
                text-align: center;
                height: 50%;        
                margin-block: 0px !important;
            }
            .day_description {  /* 4 */
                height: 20%;
                font-size: 30px;
                text-align: center;
                margin-block: 0px !important;
            }
            .wind_speed {
                height: 30%;
                width: 100%;
                margin-block: 0px !important;
                display: flex;
                justify-content: center;
            }
/*****************/
        #sun {  /* 3 */
            height: 40%;
            width: 100%;
            align-content: start;
            position: absolute;
            }
            .weather-icon { /* 4 */
                margin-left: 0px;
            }  
/*****************/
        .drawing { /* 3 */
            padding-left: 35%;
            height: 60%;
            box-sizing: border-box;
            width: 100%;
            position: relative;
            margin-bottom: 0px;            
        }
            .SVGS {  /* 4 */
                position: absolute;
                margin: 0px;
                height: 60%;
                width: 100%;      
                filter: blur(2px);
                bottom: 0%;
                right: 0;
            }
            svg {  /* 4 */
                padding-top: 65px;
                padding-left: 35%;
            }
            .window {  /* 4 */
                width: 4px;
                height: 4px;
                fill: rgb(101, 136, 131);
                transition: fill 2s ease-in-out;
            }
            .building { /* 4 */
                transition: fill 1s ease;
            }

            .mountain1 { /* 4 */
                transition: fill 1s ease; 
            }
/*****************/
    body {
        height: 92vh;
    }
    .content2 {  /* 2 */
        justify-content: space-between;
        margin-inline: auto;
        height: auto;
    }
        .page_name {
            font-family:'Times New Roman', Times, serif;
        }
        .page_data {  /* 3 */
            background-color: rgba(3, 3, 3, 0.3);
            border-radius: 20px;
            height: 80px;
            margin-block: 10px;
            padding: 10px;
            padding-left: 20px;
        }
        #city_name {
            display: flex;
            justify-content: end;
            font-size: 25px;
            font-weight: 100;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        .social {  /* 3 */
            border-radius: 20px;
            background-color: rgba(3, 3, 3, 0.3);
            height: 80px;
            margin-block: 10px;
            padding: 0%;
            display: flex;
            justify-content:space-evenly;
            align-items: center;
        }
        .social_icon {  /* 3 */
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: ease .5s ;
            border-radius: 5px;
        }
        .social_icon:hover {  /* 3 */
            outline: 1px solid rgba(220, 220, 220, 1);
        }
        
@media (max-width: 1440px) and (orientation: portrait) {
    
    .container {
        height: 82%;
        display: block;
        position: relative;
    }
    .temperature {  /* 4 */
        font-size: 150px;
        padding-top: 30px;
        text-align: center;
        height: 250px;        
        margin-top: 5px;
        margin-block: 0px !important;
    }
    .day_description {  /* 4 */
        height: 100px;
        font-size: 50px;
        text-align: center;
        margin-top: 0px;
    }
    .wind_speed {
        font-size: 35px;
    }
    .content { /* 2 */                            /* Temp, weather, mountains */                           
        min-height: 600px;
        height: 80%;
        background-color: rgba(3, 3, 3, 0.3);
        border-radius: 20px;
        margin-inline: auto;
        margin-top: 150px;
    }
    .drawing { /* 3 */
        padding-left: 35%;
        height: 60%;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        margin-bottom: 0px;            
    }
        .SVGS {  /* 4 */
            position: absolute;
            margin: 0px;
            height: 200px;
            width: 100%;      
            filter: blur(2px);
            bottom: 0%;
            right: 0;
        }
    .content2 {  /* 2 */
        position: absolute;
        bottom: 0;
        width: 100%;
        justify-content: space-between;
        margin-inline: auto;
        height: auto;
    }
    #city_name {
        font-size: 30px;
    }
}